*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
tools/SampleAnalyzer/*/Makefile*
tools/SampleAnalyzer/Bin
tools/SampleAnalyzer/ExternalSymLink
tools/SampleAnalyzer/Lib
tools/SampleAnalyzer/setup.*sh
tools/delphes
tools/fastjet
tools/PAD
*/*/*.aux
*/*/*.bbl
*/*/*.blg
*/*/*.toc
*/*/*.out
doc/??????_mode/*.pdf
.DS_Store
ANALYSIS_*
*.o
*.tgz
*.log
.ma5history
*__pycache__